<div id="top-container" class="container-fluid">
  <h1 id="main-title" class="text-center">XKCD API - tirinhas</h1>
  <p id="main-subtitle" class="text-center">
    O xkcd autodenomina-se "um webcomic de romance, sarcasmo, matemática e linguagem": 
    os temas vão de declarações sobre a vida e o amor a brincadeiras internas de ciência ou matemática. Alguns são de um humor simples ou com referências a cultura pop.
  </p>
  <form id="search-form" class="form-inline" action="/comics"  method="get">
    <div class="form-group col-md-10">
      <input type="text" class="form-control" id="comicId" value="" name="comicId" placeholder="Digite o ID da comic">
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-primary">Procurar</button>
    </div>
  </form>
</div>
<main>
  <div id="jobs-container" class="container">
    <div class="row">
      <div class="col-md-12">
        {{#if search_comic}}
          <h2 id="job-list-title">Comic {{search_comic.comicId}}</h2>
        {{else if atual}}
          <h2 id="job-list-title">Comic do Mês</h2>
        {{else}}
          <h2 id="job-list-title">Digite um código válido</h2>
        {{/if}}

        <!-- search the first four comics by category -->
        <ul id="job-list" class="list-group">
          {{#if comic}}

              <li class="list-group-item new-job">
              <img src="{{comic.img}}" alt="Cover">
              <h2>{{comic.title}}</h2>
              <p>ID: {{comic.num}}</p>
              <p>Ano: {{comic.year}}</p>
              <p>Mês: {{comic.month}}</p>
              <p>Descrição: {{comic.alt}}</p>
              </li>

          {{/if}}
        </ul>
      </div>
    </div>
  </div>
</main>